:root {
  --main-bg-color: #00263E;
  --main-text-color: #E5E1E6;
  --main-accent-color: #F8AD6D;
  --main-b-color: #9F5F54;
  --main-link-color: rgba(229, 225, 230, 0.15);
}

body {
  font-family: fira-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  padding: 0;
  margin: 0;
}

h1 {
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: var(--main-accent-color);
}

h2 {
  font-family: fira-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  margin: 1.5em 0 0.5em 0;
}

img {
  margin: 12px 12px 0 12px;
}

a:link, a:visited, a:hover, a:active {
  color: var(--main-text-color);
  text-decoration: none;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.index-content {
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 100%;
  box-sizing: border-box;
  padding: 48px;
  margin: 0;
}

.content {
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  padding: 48px;
  margin: 0 auto;
}

.index-title {
  font-size: 64pt;
  text-align: center;
  margin: 0 0 96px 0;
}

.content-title {
  font-size: 48pt;
  margin: 0 0 48px 0;
}

.button-container a {
  padding: 0;
  margin: 0;
}

.button {
  display: table;
  width: 100%;
  max-width: 360px;
  height: 90px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  margin: 48px auto;
  background-color: var(--main-link-color);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  transition: border-color 0.2s linear;
  cursor: pointer;
}

.button p {
  display: table-cell;
  font-weight: 700;
  font-size: 18pt;
  text-align: center;
  vertical-align: middle;
  padding: 0;
}

.button:hover {
  border-bottom: 2px solid var(--main-text-color);
}

.indent-1 {
  padding-left: 2em;
}

.image-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.image-text {
  display: inline-block;
  position: relative;
}

.image-text p {
  text-align: center;
  padding: 0;
  margin: 0 0 1em 0;
}

.overlay {
  position: absolute;
}

#papillae-line {
  left: 34%;
  bottom: 0;
}

.practice-tool {
  margin: 48px 0;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
  background-color: var(--main-link-color);
  justify-content: space-between;
  align-items: flex-end;
  align-content: center;
  flex-wrap: nowrap;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 1000;
}

.navbar p {
  font-size: 14pt;
  text-align: center;
  padding: 15px 0;
  margin: 0;
}

.navbar a {
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.nav {
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  width: calc(100vw/4);
  height: 100%;
  transition: border-color 0.2s linear;
}

.nav:hover {
  border-bottom: 2px solid var(--main-text-color);
}

.nav-active {
  border-bottom: 2px solid var(--main-text-color);
  width: calc(100vw/4);
}

@media only screen and (max-height: 650px) {
  .index-content {
    position: static;
    top: 0;
    left: 0; 
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 900px) {
  .img-large {
    width: 100%;
    height: auto;
  }

@media only screen and (max-width: 650px) {
  .index-content {
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translate(0, -50%);
  }

  .index-title {
    font-size: 48pt;
  }

  .button {
    height: 75px;
  }

  .button p {
    font-size: 16pt;
  }

  .img-medium {
    width: 100%;
    height: auto;
  }

  .navbar p {
    font-size: 10pt;
  }
}

@media only screen and (max-width: 450px) {
  .index-content {
    position: absolute;
    top: 50%;
    left: 0; 
    transform: translate(0, -50%);
  }

  .index-title {
    font-size: 32pt;
  }

  .button {
    height: 60px;
  }

  .button p {
    font-size: 14pt;
  }

  .navbar p {
    font-size: 9pt;
  }
}